@font-face {
    font-family: "Gabriel Weiss' Friends Font";
    src: url("../fonts/friends/GABRWFFR.TTF");
}
* {
    background-color: beige;
    color: black;
    font-family: "Courier New", "Times New Roman", sans-serif;
}
#cen{
    background-color: beige;
    text-align: center;
}
.head{
    text-align: left;
    background-color: #ffe3fc;
}
#image {
    height: auto;
    width: 310px;
}
img {
    height: auto;
    width: 500px;
}
.friends {
    font-family: "Gabriel Weiss' Friends Font";
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.head.fonted{
    font-family: "Courier New", Courier, monospace;
}